<div class="testbox">
  <div [formGroup]="addEditDriverForm">
    <div class="banner"></div>
    <br/>
    <mat-accordion [multi]="true"><mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>perm_contact_calendar</mat-icon> DRIVER
        </mat-panel-title>
      </mat-expansion-panel-header><br/>
        <div class="columns">
          <div class="item">
            <label for="fname"> Name <span>*</span></label><br>
            <app-material-input [width]="80" [errorMsg]="formValidationMap.name" formControlName="name" [pattern]="'[a-zA-Z ]*'"></app-material-input>
          </div>
          <div class="item">
            <label for="lname"> Surname <span>*</span></label><br>
            <app-material-input [width]="80" [errorMsg]="formValidationMap.lastName" formControlName="lastName" [pattern]="'[a-zA-Z ]*'"></app-material-input>
          </div>
          <div class="item">
            <label for="lname"> Username <span>*</span></label><br>
            <app-material-input [width]="80" formControlName="userName" [errorMsg]="formValidationMap.userName"></app-material-input>
          </div>
          <div class="item">
            <label for="lname"> Email <span>*</span></label><br>
            <app-material-input [width]="80" formControlName="email" [errorMsg]="formValidationMap.email"></app-material-input>
          </div>
          <div class="item" formGroupName="phoneGroup">
            <label for="lname"> Phone Number <span>*</span></label><br>
            <app-material-select-input [label]="'Code'" [width]="15"  [options]="countryCodes" formControlName="countryCode"
                (selectionChange)="onSelectionChange($event, 'countryCode')" [value]="countryCodes[0]"></app-material-select-input>&nbsp;
            <app-material-input [width]="30" [label]="'Number'" formControlName="phone" [errorMsg]="formValidationMap.phone" ></app-material-input>
          </div>
          <div class="item">
            <label for="lname"> Country<span>*</span></label><br>
            <app-material-select-input (selectionChange)="onSelectionChange($event, 'country')" [options]="countries" formControlName="country"></app-material-select-input>
          </div>
        </div>
      <div class="btn-block">
        <app-material-button [label]="'SUBMIT'" [disabled]="isDisabled()" [width]="30" (click)="onSubmit()"></app-material-button>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
