<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div id="summary" class="center">
  <div [formGroup]="addEditShipmentForm">
    <div class="banner"></div><br>
  <mat-accordion [multi]="true">
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon >flight_takeoff</mat-icon>
          Ports
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br/>
        <div class="columns">
        <div class="item">
          <label for="fname">Port Of Loading</label><br>
          <app-material-select-input [width]="60" [options]="portsOfLoading"
            [value]="portsOfLoading[0]" formControlName="portOfLoading">
          </app-material-select-input>
        </div>
        <div class="item">
          <label for="fname">Port Of Discharge</label><br>
          <app-material-select-input [width]="60" [options]="portsOfDischarge"
            [value]="portsOfDischarge[0]" formControlName="portOfDischarge">
          </app-material-select-input>
        </div>
        <div class="item">
          <label for="fname">Place Of Receipt</label><br>
          <app-material-select-input [width]="60" [options]="placesOfReceipt"
            [value]="placesOfReceipt[0]" formControlName="placeOfReceipt">
          </app-material-select-input>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon >flight_land</mat-icon>
          SHIPMENT
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br>
        <div class="columns">
          <div class="item">
            <label for="lname">BL Vessel</label><br>
            <app-material-input  [width]="80" formControlName="blVessel" ></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Container Number</label><br>
            <app-material-input  [width]="80" formControlName="containerNumber" ></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Loading Date</label><br>
            <app-material-date-picker-input
              (inputChange)="onInputChange($event, 'loadingDate')" formControlName="loadingDate">
            </app-material-date-picker-input>
          </div>
          <div class="item">
            <label for="lname">Shipment Date</label><br>
            <app-material-date-picker-input
              (inputChange)="onInputChange($event, 'shipmentDate')" formControlName="shipmentDate">
            </app-material-date-picker-input>
          </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon >flight_land</mat-icon>
          EXPORTER
        </mat-panel-title>
      </mat-expansion-panel-header><br>
        <div class="columns">
          <div class="item">
            <label for="lname">Full Name </label><br>
            <app-material-input  [width]="80" formControlName="exporterFullName"></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Postcode</label><br>
            <app-material-input [width]="80" formControlName="exporterPostcode"></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Address</label><br>
            <app-material-input  [width]="80" formControlName="exporterAddress"></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Area</label><br>
            <app-material-input  [width]="80" formControlName="exporterArea"></app-material-input>
          </div>
          <div class="item">
            <label for="lname">City</label><br>
            <app-material-input  [width]="80" formControlName="exporterCity"></app-material-input>
          </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon >flight_land</mat-icon>
          CONSIGNEE
        </mat-panel-title>
      </mat-expansion-panel-header><br>
        <div class="columns">
          <div class="item">
            <label for="lname">Full Name </label><br>
            <app-material-input  [width]="80" formControlName="consigneeName" ></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Address</label><br>
            <app-material-input [width]="80" formControlName="consigneeAddress" ></app-material-input>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  </div>
  <br>
  <div class="submitBtn" align="center">
    <app-material-button [label]="'SUBMIT'" [width]="30" [disabled]="isDisabled()" (click)="onSubmit()"></app-material-button>
  </div>
  <br>
  <br>

