<div id="summary" class="center">
  <div [formGroup]="shipmentAnalysisForm">
    <div class="banner"></div><br>
  <mat-accordion [multi]="true">
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon >flight_takeoff</mat-icon>
          LOADING
        </mat-panel-title>
        <mat-panel-description>
          Loading Analysis
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br/>
      <div id="parent">
        <div class="child">
          <app-material-numeric-input [label]="'Container charge(£)'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="containerCharge"></app-material-numeric-input >
        </div>
        <div class="child">
          <app-material-numeric-input [label]="'Container extra charge(£)'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="containerExtraCharge"></app-material-numeric-input >
        </div>
        <div class="child">
          <app-material-numeric-input [label]="'Loaders cost(£)'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="loadersCost"></app-material-numeric-input >
        </div>
        <div class="child">
          <app-material-numeric-input [label]="'Loaders extra cost(£)'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="loadingExtraCost"></app-material-numeric-input >
        </div>
      </div>
      <div id="parent">
        <div class="child">
          <app-material-numeric-input [label]="'Total Loading cost(£)'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="totalLoadingCost"></app-material-numeric-input >
        </div>
        <div class="child">
          <app-material-input [width]="250" [label]="'Loading cost notes'"  formControlName="loadingCostNotes"></app-material-input>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon >flight_land</mat-icon>
            CLEARING
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br/>
        <div id="parent">
          <div class="child">
            <app-material-numeric-input [label]="'Clearing Charge'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="clearingCharge"></app-material-numeric-input >
          </div>
          <div class="child">
            <app-material-numeric-input [label]="'Incentives'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="incentives"></app-material-numeric-input >
          </div>
          <div class="child">
            <app-material-numeric-input [label]="'Total drivers food(£)'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="totalGhDriversFood"></app-material-numeric-input >
          </div>
          <div class="child">
            <app-material-numeric-input [label]="'Total drivers tips(£)'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="totalGhDriversTips"></app-material-numeric-input >
          </div>
        </div>
        <div id="parent">
          <div class="child">
            <app-material-numeric-input [label]="'Thirdy Party Expenses'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="thirdyPartyExpenses"></app-material-numeric-input >
          </div>
          <div class="child">
            <app-material-numeric-input [label]="'Car to accra checkpoint '" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="carToAccraCheckpoint"></app-material-numeric-input >
          </div>
          <div class="child">
            <app-material-numeric-input [label]="'Car to kumasi checkpoint'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="carToKumasiCheckpoint"></app-material-numeric-input >
          </div>
          <div class="child">
            <app-material-numeric-input [label]="'Car to other checkpoint  '" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="carToOtherCheckpoint"></app-material-numeric-input >
          </div>
        </div>
        <div id="parent">
          <div class="child">
            <app-material-numeric-input [label]="'Total Clearing cost'" [width]="80" (change)="updateTotalExpensesAmount()" formControlName="totalClearingCost"></app-material-numeric-input >
          </div>
          <div class="child">
            <app-material-input [label]="'Clearing Notes'" [width]="250" formControlName="clearingNotes"></app-material-input>
          </div>
        </div>
    </mat-expansion-panel>

  <mat-expansion-panel hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon >account_balance</mat-icon>
        TOTAL
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br/>
    <div id="parent">
      <div class="child">
        <app-material-numeric-input [label]="'Total Amount Charged'" [width]="80" formControlName="totalAmountCharged"></app-material-numeric-input >
      </div>
      <div class="child">
        <app-material-numeric-input [label]="'Total Expenses'" [width]="80" formControlName="totalExpenses"></app-material-numeric-input >
      </div>
      <div class="child">
        <app-material-numeric-input [label]="'Profit'" [width]="80" formControlName="profit"></app-material-numeric-input >
      </div>
      <div class="child">
        <app-material-numeric-input [label]="'Notes'" [width]="250" formControlName="notes"></app-material-numeric-input >
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
</div>
  </div>
  <br>
  <div class="submitBtn" align="center">
    <app-material-button [label]="'SUBMIT'" [color]="'white'" [backgroundColor]="'#004e92'"[width]="30" [disabled]="isDisabled()" (click)="onSubmit()"></app-material-button>
  </div>
  <br>
  <div class="submitBtn" align="center">
    <app-material-button [label]="'GENERATE REPORT'" [color]="'white'" [backgroundColor]="'#004e92'" [width]="30" [disabled]="isDisabled()" (click)="onGenerateReport()"></app-material-button>
  </div>
  <br>
  <br>
