<div class="container">
  <h1 id="title">Create new shipment</h1>
  <p id="description">Please fill the shipment details.</p>
  <div class="row">
    <div class="col-75">
      <div class="container">
        <form id="survey-form" [formGroup]="newShipmentForm">
              <fieldset>
                <legend>Ports information</legend>
                <div>
                  <label class="required">Port Of Loading</label>
                  <app-material-select-input [width]="80" [options]="portsOfLoading"
                    [value]="portsOfLoading[0]" formControlName="portOfLoading">
                  </app-material-select-input>
                  <label class="required">Port Of Discharge</label>
                  <app-material-select-input [width]="80" [options]="portsOfDischarge"
                    [value]="portsOfDischarge[0]" formControlName="portOfDischarge">
                  </app-material-select-input>
                  <label class="required">Place Of Receipt</label>
                  <app-material-select-input [width]="80" [options]="placesOfReceipt"
                    [value]="placesOfReceipt[0]" formControlName="placeOfReceipt">
                  </app-material-select-input>
                </div>
            </fieldset>
            <fieldset>
              <legend>Exporter Information</legend>
              <div>
                  <label>Full Name:</label>
                  <app-material-input  [width]="80" formControlName="exporterFullName"></app-material-input>
                  <label>Postcode:</label>
                  <app-material-input [width]="80" formControlName="exporterPostcode"></app-material-input>
                  <label>Address:</label>
                  <app-material-input  [width]="80" formControlName="exporterAddress"></app-material-input>
                  <label>Area:</label>
                  <app-material-input  [width]="80" formControlName="exporterArea"></app-material-input>
                  <label>City:</label>
                  <app-material-input  [width]="80" formControlName="exporterCity"></app-material-input>
              </div>
          </fieldset>
          <fieldset>
              <legend>Consignee Information</legend>
              <div>
                  <label>Full Name:</label>
                  <app-material-input  [width]="80" formControlName="consigneeName" ></app-material-input>
                  <label>Address:</label>
                  <app-material-input [width]="80" formControlName="consigneeAddress" ></app-material-input>
              </div>
          </fieldset>
          <fieldset>
            <legend>Details</legend>
            <div>
                <label>BL Vessel:</label>
                <app-material-input  [width]="80" formControlName="blVessel" ></app-material-input>
                <label>Container Number:</label>
                <app-material-input  [width]="80" formControlName="containerNumber" ></app-material-input>
                <label>Loading Date:</label>
                <app-material-date-picker-input (inputChange)="onInputChange($event, 'loadingDate')" formControlName="loadingDate"></app-material-date-picker-input>
                <label>Shipment Date:</label>
                <app-material-date-picker-input (inputChange)="onInputChange($event, 'shipmentDate')" formControlName="shipmentDate"></app-material-date-picker-input>
              </div>
          </fieldset>
        </form>
      </div>
      <br>
      <div class="submitBtn" align="center">
        <br>
        <app-material-button [label]="'Create'" [color]="'primary'" [width]="30" [backgroundColor]="'#069370'" [disabled]="isDisabled()" (click)="onCreate()"></app-material-button>
      </div>
    </div>
  </div>
</div>
