<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div id="summary" class="center">
  <div>
    <mat-accordion [multi]="true">
      <div [formGroup]="assignDriverForm">
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ASSIGNED DRIVER
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br/>
          <div class="columns">
            <div class="item">
                <app-material-select-input [label]="'Select Driver'"
                  [width]="60" (selectionChange)="onSelectionChange($event, 'selectedDriverUsername')"
                  formControlName="selectedDriverUsername"
                  [options]="driversUsername">
                </app-material-select-input>&nbsp;
                <app-material-button [label]="'Update Driver'" (click)="onUpdateMainDriver()"></app-material-button>
            </div>
          </div>
      </mat-expansion-panel>
    </div>
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> MANAGE MATES </mat-panel-title>
        </mat-expansion-panel-header>
          <br/>
          <ul>
            <li *ngFor="let driver of driversCheckBoxList">
              <mat-checkbox
                [(ngModel)]="driver.selected"
                [disabled]="driver.disabled">
                {{driver.info.reference}} - {{driver.info.username}} - ({{driver.info.name}} {{driver.info.lastName}})
              </mat-checkbox>
            </li>
          </ul>
          <app-material-button [label]="'Update Mates'" (click)="onUpdateMates()"></app-material-button>
        </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

