<div class="navbar">
  <div class="user">
      <img src="assets/login/logo.png" alt="">
      <h4 class="name">admin</h4>
      <p class="mail">admin@gmail.com</p>
  </div>
  <div class="menu">
      <div class="menu-head">
      </div>
      <div class="menu-item">
          <button mat-button class="menu-button"  (click)="navigate('/add-shipment')" >
              <mat-icon>local_shipping</mat-icon>
              <span>New Shipment</span>
          </button>
          <button mat-button class="menu-button"  (click)="navigate('/add-customer')" >
            <mat-icon>note_add</mat-icon>
            <span>Add Customer</span>
        </button>
          <button mat-button class="menu-button" (click)="navigate('/find-shipment')">
              <mat-icon>search</mat-icon>
              <span>Search</span>
          </button>
          <button mat-button class="menu-button" (click)="navigate('/all-shipments')">
              <mat-icon>list</mat-icon>
              <span>All Shipments</span>
          </button>
          <button mat-button class="menu-button">
              <mat-icon>bar_chart</mat-icon>
              <span>Report</span>
          </button>
          <button mat-button class="menu-button" (click)="navigate('/login')">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
          </button>
      </div>
  </div>
</div>

