<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<h2 mat-dialog-title>UPDATE BOOKING</h2><mat-dialog-content class="mat-typography">
  <br>
  <form id="survey-form" [formGroup]="bookingInfoForm" >
      <div class="item">
        <app-material-select-input
          [width]="80" [label]="'Status'" (selectionChange)="onSelectionChange($event, 'status')" formControlName="status" [options]="bookingStatuses">
        </app-material-select-input>
      </div>
  </form>
  <app-notification-message [showText]="showErrorText" [text]="errorText" [color]="'#ff9800'"></app-notification-message>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>

