<!-- <h2 mat-dialog-title>Booking status information</h2>
<div class="container">
  <h1 id="title">Booking status information</h1>
  <p id="description">Please update the booking status.</p>
  <div class="row">
    <div class="col-75">
      <div class="container">
        <form id="survey-form" [formGroup]="bookingInfoForm" >
              <fieldset>
                <legend>Information</legend>
                <div>
                  <label class="required">Status</label>
                  <app-material-select-input [width]="80" (selectionChange)="onSelectionChange($event, 'status')" formControlName="status" [options]="bookingStatuses">
                  </app-material-select-input>
                </div>
            </fieldset>
        </form>
      </div>
      <br>
      <div align="center">
        <br>
        <app-material-button [label]="'Update'" (click)="onUpdate()" ></app-material-button>
      </div>
    </div>
  </div>
</div> -->
<h2 mat-dialog-title>Update Booking</h2><mat-dialog-content class="mat-typography">
  <br>
  <br>
  <form id="survey-form" [formGroup]="bookingInfoForm" >
      <div class="item">
        <app-material-select-input
          [width]="80" [label]="'Status'" (selectionChange)="onSelectionChange($event, 'status')" formControlName="status" [options]="bookingStatuses">
        </app-material-select-input>
      </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSubmit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>

