<div class="container">
  <h1 id="title">Item information</h1>
  <p id="description">Please update the Item status and shipment.</p>
  <div class="row">
    <div class="col-75">
      <div class="container">
        <form id="survey-form" [formGroup]="itemInfoForm" >
              <fieldset>
                <legend>Information</legend>
                <div>
                  <label class="required">Status</label>
                  <app-material-select-input [width]="80" (selectionChange)="onSelectionChange($event, 'status')" formControlName="status" [options]="bookingStatuses">
                  </app-material-select-input>
                  <label>Shipment reference</label>
                  <app-material-input [width]="80" formControlName="shipmentReference"></app-material-input>
                  <label>Container number</label>
                  <app-material-input [width]="80" formControlName="containerNumber"></app-material-input>
                </div>
            </fieldset>
        </form>
      </div>
      <br>
      <div align="center">
        <br>
        <app-material-button [label]="'Update'" [color]="'primary'" [width]="30" [backgroundColor]="'#069370'" (click)="onUpdate()" ></app-material-button>
      </div>
    </div>
  </div>
</div>
