<div>
  <h2 mat-dialog-title>Receivers Information</h2>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let recv of receivers">
          <mat-checkbox [(ngModel)]="recv.selected"
                        [disabled]="recv.disabled"
                        (ngModelChange)="updateAllComplete(recv.selected, recv)">
            {{recv.info.fullName}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
    <mat-dialog-actions align="end" style="position: relative; top: 5rem;">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="selectedReferences" cdkFocusInitial>Ok</button>
    </mat-dialog-actions>
</div>
