<!-- <p>
  <mat-toolbar>
    <span>Receivers History</span>
  </mat-toolbar>
</p>
<span class="example-list-section">
<ul>
  <li *ngFor="let recv of receivers">
    <mat-checkbox [(ngModel)]="recv.selected"
                  [disabled]="recv.disabled"
                  (ngModelChange)="updateAllComplete(recv.selected, recv)">
      {{recv.info.fullName}}
    </mat-checkbox>
  </li>
</ul>
</span>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedReferences" cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->


<div class="fixActionRow">
  <p>
    <mat-toolbar>
      <span>Receivers History</span>
    </mat-toolbar>
  </p>
  <div mat-dialog-content>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let recv of receivers">
          <mat-checkbox [(ngModel)]="recv.selected"
                        [disabled]="recv.disabled"
                        (ngModelChange)="updateAllComplete(recv.selected, recv)">
            {{recv.info.fullName}}
          </mat-checkbox>
        </li>
      </ul>
      </span>
  </div>

  <div class="spacer"></div>

  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedReferences" cdkFocusInitial>Ok</button>
  </div>
</div>
