<mat-accordion [multi]="true"><mat-expansion-panel hideToggle [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>Receivers Information</mat-panel-title>
  </mat-expansion-panel-header><br/>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let recv of receivers">
          <mat-checkbox [(ngModel)]="recv.selected"
                        [disabled]="recv.disabled"
                        (ngModelChange)="updateAllComplete(recv.selected, recv)">
            {{recv.info.fullName}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  <div class="btn-block" align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedReferences" cdkFocusInitial>Ok</button>
  </div>
  </mat-expansion-panel>
</mat-accordion>
