html, body {
  min-height: 100%;
  }
  body, div, form, input, select, textarea, label {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  }
  h1 {
  position: absolute;
  margin: 0;
  font-size: 50px;
  color: #fff;
  z-index: 2;
  line-height: 83px;
  }
  /* legend {
  padding: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #006622;
  } */
  textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }
  .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }
  form {
  width: 60%;
  /* padding: 20px; */
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 8px #004e92;
  }


  .center {
    width: 50%!important;
  }
