<div id="summary" class="center">
  <form [formGroup]="receiversCustomerForm">
    <mat-accordion [multi]="true">
      <div [formGroup]="destinationForm">
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon >flight_takeoff</mat-icon>
            Destination
          </mat-panel-title>
          <mat-panel-description>
            Destination Information
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br/>
        <fieldset>
          <legend>Destination Information Details</legend>
          <div class="columns">
            <div class="item">
              <label for="fname">Destination<span>*</span></label><br>
              <app-material-select-input  (selectionChange)="onDestinationSelectionChange($event, 'destination')"
                [options]="destinations" formControlName="destination">
              </app-material-select-input>
            </div>
            <div class="item">
              <label for="fname">Location</label><br>
              <app-material-input
                [width]="60" formControlName="location">
              </app-material-input>
            </div>
        </div>
        </fieldset>
      </mat-expansion-panel>
    </div>
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon >flight_takeoff</mat-icon>
            Action
          </mat-panel-title>
          <mat-panel-description>
            Manage Receivers
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br/>
        <fieldset>
          <legend>Actions</legend>
          <div class="columns">
            <div class="item">
              <app-material-button
                [label]="'Load Previous Receivers'" [color]="'antiquewhite'" [backgroundColor]="'#6D8299'"  (click)="onLoadPreviousReceivers()">
              </app-material-button>
            </div>
            <div class="item">
              <app-material-button
                *ngIf="isAddItemsVisible()" [label]="'Add Receiver'" [color]="'antiquewhite'" [backgroundColor]="'#6D8299'" (click)="onAddReceveirs()">
              </app-material-button>
            </div>
        </div>
        </fieldset>
      </mat-expansion-panel>
      <div formArrayName="receivers" *ngFor="let item of receivers.controls; let i = index">
        <div [formGroupName] = 'i'>
          <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon >flight_takeoff</mat-icon>
                Receiver {{i + 1}}
              </mat-panel-title>
              <mat-panel-description>
                Receiver {{i + 1}}  Information
              </mat-panel-description>
            </mat-expansion-panel-header>
            <br/>
            <fieldset>
              <legend>Receiver {{i + 1}} Information Details</legend>
              <div class="columns">
                <div class="item">
                  <label for="fname">Type<span>*</span></label><br>
                  <app-material-select-input  [options]="types" formControlName="type"
                    (selectionChange)="onSelectionChange($event, 'type', i)"  [width]="30" [value]="types[0]">
                  </app-material-select-input>
                </div>
                <div class="item" formGroupName="phoneGroup">
                  <label for="lname"> Phone Number <span>*</span></label><br>
                  <app-material-select-input [label]="'Code'"  [width]="20" [options]="codes" formControlName="countryCode"
                    (selectionChange)="onSelectionChange($event, 'countryCode', i)" [value]="codes[0]"></app-material-select-input>&nbsp;
                    <app-material-input [label]="'Phone'" [type]="'phone'" formControlName="phone"></app-material-input>
                </div>
                <div *ngIf="!isCustomerPersonal(i)" class="item">
                  <label for="lname">Registered Name</label><br>
                  <app-material-input
                    [width]="60" formControlName="registeredName" >
                  </app-material-input>
                </div>
                <div *ngIf="!isCustomerPersonal(i)" class="item">
                  <label for="lname">Registered Number</label><br>
                  <app-material-input
                    [width]="60" formControlName="registeredNumber">
                  </app-material-input>
                </div>
                <div class="item">
                  <label for="lname">Title</label><br>
                  <app-material-select-input [options]="titles" formControlName="title"
                  (selectionChange)="onSelectionChange($event, 'title',i)"  [width]="30" [value]="titles[0]">
                  </app-material-select-input>
                </div>
                <div class="item"></div>
                <div class="item">
                  <label for="lname">Name  <span>*</span></label><br>
                  <app-material-input formControlName="name" [errorMsg]="formValidationMapList[i].name" [width]="80"  [pattern]="'[a-zA-Z ]*'"></app-material-input>
                </div>
                <div class="item">
                  <label for="lname">Surname <span>*</span></label><br>
                  <app-material-input formControlName="surname" [errorMsg]="formValidationMapList[i].surname" [width]="80"  [pattern]="'[a-zA-Z ]*'"></app-material-input>
                </div>
                <div class="item" >
                  <app-material-button
                    [label]="'-'"  [color]="'antiquewhite'" [backgroundColor]="'#6D8299'" (click)="onDeleteReceiver(i)">
                  </app-material-button>&nbsp;
                  <app-material-button [label]="'+'"  [color]="'antiquewhite'" [backgroundColor]="'#6D8299'"  [disabled]="isReceiverValuePopulated(i)" (click)="onAddReceveir(i)"></app-material-button>
                </div>

              </div>
              <div *ngIf="showWarning()" class="alert warning">
                <strong>Warning!</strong> Please fill in all required field with valid values.
              </div>
            </fieldset>
          </mat-expansion-panel>

        </div>
      </div>
    </mat-accordion>
</form>
</div>


