<div class="container">
  <h1 id="title">Customer Form</h1>
  <p id="description">Please fill the customer details.</p>
  <div class="row">
    <div class="col-75">
      <div class="container">
        <form id="survey-form" [formGroup]="addEditCustomerForm">
            <fieldset *ngIf="isCreateBookingMode()">
              <legend>Load Customer</legend>
              <div>
                <form [formGroup]="loadCustomerForm" >
                  <label>Reference</label>
                  <app-material-input formControlName="ref" [errorMsg]="formValidationMap.ref"></app-material-input>
                  <app-material-button [label]="'Load Customer'" [color]="'primary'" [backgroundColor]="'#069370'" [disabled]="isLoadDisabled()" (click)="onLoadCustomer()"></app-material-button>
                  <app-alert></app-alert>
                </form>
              </div>
            </fieldset>
            <fieldset>
              <legend>Customer Details</legend>
              <div>
                <label class="required">Type</label>
                <app-material-select-input  [options]="types" formControlName="type"
                  (selectionChange)="onSelectionChange($event, 'type')"  [width]="60" [value]="'PERSONAL'">
                </app-material-select-input>
                <label *ngIf="!isCustomerPersonal()" class="required">Registered Name</label>
                <app-material-input *ngIf="!isCustomerPersonal()"  [width]="80" formControlName="registeredName" [errorMsg]="formValidationMap.registeredName"></app-material-input>
                <label class="required" *ngIf="!isCustomerPersonal()">Registered number</label>
                <app-material-input *ngIf="!isCustomerPersonal()" [width]="80" formControlName="registeredNumber"></app-material-input>
              </div>
              <label class="required">Country</label>
              <app-material-select-input (selectionChange)="onSelectionChange($event, 'country')" [options]="countries" formControlName="country"></app-material-select-input>
            </fieldset>
            <fieldset>
              <legend>Personal Information</legend>
              <div>
                <label class="required">Title</label>
                <app-material-select-input [options]="titles" formControlName="title"
                  (selectionChange)="onSelectionChange($event, 'title')"  [width]="60" [value]="titles[0]">
                </app-material-select-input>
                <label class="required">Name</label>
                <app-material-input formControlName="name" [width]="80" [errorMsg]="formValidationMap.name"></app-material-input>
                <label class="required">Surname</label>
                <app-material-input formControlName="surname" [width]="80" [errorMsg]="formValidationMap.surname"></app-material-input>
              </div>
          </fieldset>
          <fieldset>
            <legend>Contact Information</legend>
            <div>
              <label class="required">Email</label>
              <app-material-input [width]="80" [errorMsg]="formValidationMap.email" formControlName="email"></app-material-input>
              <label class="required">Telephone</label>
              <div formGroupName="phoneGroup">
                <app-material-select-input [label]="'Code'"  [width]="20" [options]="countryCodes" formControlName="countryCode"
                (selectionChange)="onSelectionChange($event, 'countryCode')" [value]="countryCodes[0]"></app-material-select-input>
                <div class="divider"></div>
                <app-material-input [label]="'Phone'" [type]="'phone'" formControlName="phone" [errorMsg]="formValidationMap.phone"></app-material-input>
              </div>
              <label class="required">Postcode</label>
              <app-material-input  [width]="45" formControlName="postcode" [errorMsg]="formValidationMap.postcode"></app-material-input>
              <label class="required">Address</label>
              <app-material-select-input [width]="80" [options]="getAddressByPostcode()" (selectionChange)="onSelectionChange($event, 'address')" formControlName="address"></app-material-select-input><br>
            </div>
          </fieldset>
        </form>
      </div>
      <br>
      <div *ngIf="isCreateBookingMode()" class="submitBtn" align="center">
        <app-material-button [label]="'Submit'" [color]="'primary'" [width]="30" [backgroundColor]="'#069370'" [disabled]="isDisabled()" (click)="onAddEdit()"></app-material-button>
      </div>
    </div>
  </div>
</div>






