<div id="summary" class="center">
  <form [formGroup]="addEditCustomerForm">
    <div class="banner"></div><br>
  <mat-accordion [multi]="true"><mat-expansion-panel hideToggle [expanded]="false">
    <mat-expansion-panel-header *ngIf="isCreateBookingMode()">
      <mat-panel-title>
        <mat-icon >flight_takeoff</mat-icon>
        Action
      </mat-panel-title>
      <mat-panel-description>
        Manage Sender
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br/>
    <fieldset>
      <legend>Actions</legend>
      <div class="columns">
        <div [formGroup]="loadCustomerForm" class="item">
          <label for="lname">Reference</label><br>
          <app-material-input formControlName="ref" [errorMsg]="formValidationMap.ref"></app-material-input>&nbsp;
          <app-material-button [label]="'Load Customer'" [color]="'primary'" [backgroundColor]="'#004e92'" [disabled]="isLoadDisabled()" (click)="onLoadCustomer()"></app-material-button>
        </div>
    </div>
    </fieldset>
  </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>groups</mat-icon>
          TYPE
        </mat-panel-title>
        <mat-panel-description>
         Customer type
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br/>
      <fieldset>
        <legend>Customer details</legend>
        <div class="columns">
          <div class="item">
            <label for="lname">Type</label><br>
            <app-material-select-input  [options]="types" formControlName="type"
              (selectionChange)="onSelectionChange($event, 'type')"  [width]="60" [value]="'PERSONAL'">
            </app-material-select-input>
          </div>
          <div class="item">
            <label for="lname">Country</label><br>
            <app-material-select-input (selectionChange)="onSelectionChange($event, 'country')" [options]="countries" formControlName="country"></app-material-select-input>
          </div>
          <div *ngIf="!isCustomerPersonal()" class="item">
            <label for="lname">Registered Name</label><br>
            <app-material-input   [width]="60" formControlName="registeredName" [errorMsg]="formValidationMap.registeredName"></app-material-input>
          </div>
          <div *ngIf="!isCustomerPersonal()" class="item">
            <label for="lname">Registered Number</label><br>
            <app-material-input  [width]="60" formControlName="registeredNumber" [errorMsg]="formValidationMap.registeredName"></app-material-input>
          </div>
        </div>
      </fieldset>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon >how_to_reg</mat-icon>
          PERSONAL
        </mat-panel-title>
        <mat-panel-description>
        Personal Details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br/>
      <fieldset>
        <legend>Personal Information Details</legend>
        <div class="columns">
          <div class="item">
            <label for="lname">Title</label><br>
            <app-material-select-input [options]="titles" formControlName="title"
                (selectionChange)="onSelectionChange($event, 'title')"  [width]="30" [value]="titles[0]">
            </app-material-select-input>
          </div>
          <div class="item"></div>
          <div class="item">
            <label for="lname">Name<span>*</span></label><br>
            <app-material-input formControlName="name" [width]="80" [errorMsg]="formValidationMap.name"></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Surname<span>*</span></label><br>
            <app-material-input formControlName="surname" [width]="80" [errorMsg]="formValidationMap.surname"></app-material-input>
          </div>
        </div>
      </fieldset>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>contacts</mat-icon>
          CONTACT
        </mat-panel-title>
        <mat-panel-description>
       Contact Information
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br/>
      <fieldset>
        <legend>Contact Information Details</legend>
        <div class="columns">
          <div class="item" formGroupName="phoneGroup">
            <label for="lname"> Phone Number <span>*</span></label><br>
            <app-material-select-input [label]="'Code'"  [width]="15" [options]="countryCodes" formControlName="countryCode"
                  (selectionChange)="onSelectionChange($event, 'countryCode')" [value]="countryCodes[0]"></app-material-select-input>&nbsp;
            <app-material-input [width]="30" [label]="'Number'" formControlName="phone" [errorMsg]="formValidationMap.phone" ></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Email<span>*</span></label><br>
            <app-material-input [width]="80" [errorMsg]="formValidationMap.email" formControlName="email"></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Postcode<span>*</span></label><br>
            <app-material-input  [width]="35" formControlName="postcode" [errorMsg]="formValidationMap.postcode"></app-material-input>
          </div>
          <div class="item">
            <label for="lname">Address</label><br>
            <app-material-select-input [width]="80" [options]="getAddressByPostcode()" (selectionChange)="onSelectionChange($event, 'address')" formControlName="address"></app-material-select-input><br>
          </div>
        </div>
      </fieldset>
    </mat-expansion-panel>
  </mat-accordion>
  </form>
  </div>
  <br>
  <div *ngIf="!isBookingMode()" class="submitBtn" align="center">
    <app-material-button [label]="'Submit'" [color]="'primary'" [width]="30" [backgroundColor]="'#069370'" [disabled]="isDisabled()" (click)="onAddEdit()"></app-material-button>
  </div>
  <br>
  <br>
  <br>
