<div class="mainContent">
  <div class="boxContent">
      <div class="secondRow">
        <div class="cardChart">
          <br><br>
          <ngx-charts-bar-vertical
            [view]="[800,400]"
            [results]="itemQuantityReportData"
            [xAxisLabel]="'Items'"
            [legendTitle]="'Items quantity chart'"
            [yAxisLabel]="'Quantity'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true">
          </ngx-charts-bar-vertical>

        </div>
          <div class="cardChart">
            <br><br>
            <ngx-charts-bar-vertical
              [view]="[800,400]"
              [results]="yearBookingsAmountReportData"
              [xAxisLabel]="'Month'"
              [legendTitle]="'Items quantity chart'"
              [yAxisLabel]="'Amount'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true">
            </ngx-charts-bar-vertical>
          </div>
      </div>
      <div class="thirdRow">
        <!-- <app-bookings-table [bookings]="bookings" [includeArchived]="includeArchive"></app-bookings-table> -->
      </div>
  </div>
</div>

