<div class="bodys">
  <div class="booking-form-w3layouts">
    <section >
      <h2 class="sub-heading-agileits">Find Shipment</h2>
      <div class="main-flex-w3ls-sectns">
        <div>
          <app-material-input [label]="'Shipment ID'" [icon]="'person_pin'"></app-material-input>
          <div class="divider"></div>
          <app-material-button [label]="'Search'" [color]="'primary'" [backgroundColor]="'#069370'" (click)="onSearch()" ></app-material-button> <br>
        </div>
      </div>
    </section>
  </div>
  </div>
  <section *ngIf="!isVisible">
    <app-add-shipment ></app-add-shipment>
  </section>


