<button mat-raised-button id="toggle-linear"></button>
<mat-stepper linear #stepper>
    <mat-step>
        <form>
            <ng-template matStepLabel>Fill out customer details</ng-template>
            <app-customer-detail [customer]="order.customer" [mode]="mode"></app-customer-detail>
            <div style="text-align: center">
                <app-material-button [label]="'Next'" [width]="10" (click)="onForward(stepper, 'customerDetailComponent')"></app-material-button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Fill out pick up details</ng-template>
            <app-order-info [orderInfo]="getOrderInfo()" (getCustomerPostcode)="getCustomerPostcode()"></app-order-info>
            <div style="text-align: center">
                <app-material-button [label]="'Back'" [width]="10" (click)="onBackward(stepper)"></app-material-button>
                <app-material-button [label]="'Next'" [width]="10" (click)="onForward(stepper, 'orderInfoComponent')"></app-material-button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirm</ng-template>
        <app-order-review></app-order-review>
        <div style="text-align: center">
            <app-material-button [label]="'Back'" [width]="10" (click)="onBackward(stepper)"></app-material-button>
        </div>

        <app-notification-message [showText]="showErrorText" [text]="errorText" [color]="'#ff9800'"></app-notification-message>
        <div class="submitButton">
            <app-material-button *ngIf="isSaved()" [label]="'SAVE'" [width]="30" (click)="onSave()"></app-material-button><br />
            <app-material-button [label]="'SUBMIT'" [width]="30" (click)="onSubmit()"></app-material-button>
        </div>
    </mat-step>
</mat-stepper>
