<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> 
<div id="summary">
<mat-accordion *ngIf="showSummary()" [multi]="true">
  <mat-expansion-panel hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Customer Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th class="details">Details</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{order.customer ? order.customer.type : ''}}</td>
      </tr>
      <tr *ngIf="!isCustomerPersonal(order.customer.type)">
        <td>Registered Name</td>
        <td>{{order.customer.registeredName}}</td>
      </tr>
      <tr *ngIf="!isCustomerPersonal(order.customer.type)">
        <td>Registered Number</td>
        <td>{{order.customer.registeredNumber}}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{order.customer.title}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{order.customer.name}}</td>
      </tr>
      <tr>
        <td>Surname</td>
        <td>{{order.customer.surname}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{order.customer.email}}</td>
      </tr>
      <tr>
        <td>Code</td>
        <td>{{order.customer.countryCode}}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{order.customer.phone}}</td>
      </tr>
      <tr>
        <td>Postcode</td>
        <td>{{order.customer.postcode}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{order.customer.address}}</td>
      </tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel  [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Items Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th class="details">Quantity</th>
        <th>Type</th>
        <th>Description</th>
        <th>Value</th>
        <th>Price per unit</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let item of order.items">
        <td>{{item.quantity}}</td>
        <td>{{item.type}}</td>
        <td>{{item.description}}</td>
        <td>£{{item.value}}</td>
        <td>£{{item.pricePerUnit}}</td>
        <td>£{{item.amount}}</td>
        <td>{{item.status}}</td>
      </tr>
      <br>
      <p><b>Number of items:</b> <br>{{order.numberOfItems}}</p>
      <p><b>Total amount:</b> <br>£{{order.totalAmount}}</p>
      <p><b>Selected payment type:</b> <br>{{order.paymentType}}</p>
      <p *ngIf="isPaymentTypeBankTransfer()"><b>Account Name:</b> <br>{{accountName}}</p>
      <p *ngIf="isPaymentTypeBankTransfer()"><b>Sort Code:</b> <br>{{accountSortCode}}</p>
      <p *ngIf="isPaymentTypeBankTransfer()"><b>Account Number:</b> <br>{{accountNumber}}</p>
      <p *ngIf="isPaymentTypeBankTransfer()"><b>Reference:</b> <br>{{getBankReference()}}</p>
      <p><b>Selected payment status:</b> <br>{{order.paymentStatus}}</p>
      <p><b>Amount Paid:</b> <br>£{{order.amountPaid}}</p>
      <p><b>Amount Outstanding:</b> <br>£{{order.amountOutstanding}}</p>
      <p><b>Notes:</b> <br>{{order.paymentNotes}}</p>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel  [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Delivery Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th class="details">Details</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{getFormattedDate(order.deliveryDate)}}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{{order.deliveryTime}}</td>
      </tr>
      <tr>
        <td>Postcode</td>
        <td>{{order.deliveryPostCode}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{order.deliveryAddress}}</td>
      </tr>
      <tr>
        <td>Updates Via Whatsapp</td>
        <td>{{order.updatesViaWhatsapp ? 'YES': 'NO'}}</td>
      </tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
<br>
</div>

<div align="center">
  <button mat-raised-button (click)="exportAsPDF()" class="exportButton"><mat-icon>picture_as_pdf</mat-icon> Export to PDF</button>
  <button mat-raised-button  (click)="editOrder()" class="editButton"><mat-icon>edit</mat-icon> Edit booking </button>
</div>
<br>
