<div id="summary" class="center">
  <div [formGroup]="orderInfoForm">
    <div class="banner"></div><br>
  <mat-accordion [multi]="true">
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>today</mat-icon>
          Pick-up
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br/>
        <div class="columns">
          <div class="item" >
            <app-material-date-picker-input
              [label]="'Date'" (inputChange)="onInputChange($event, 'deliveryDate')" formControlName="deliveryDate">
            </app-material-date-picker-input>&nbsp;
          </div>
          <div class="item">
            <app-material-select-input [options]="times" formControlName="deliveryTime"
            [label]="'Time'" (selectionChange)="onSelectionChange($event, 'deliveryTime')"  [width]="60" [value]="times[0]">
            </app-material-select-input>
          </div>
          <div class="item">
            <app-material-input [label]="'Postcode'" [icon]="'person_pin'"[width]="45" formControlName="deliveryPostCode" [errorMsg]="formValidationMap.postcode"></app-material-input>
          </div>
          <div class="item">
            <app-material-select-input [label]="'Address'"[width]="60" [options]="getAddressByPostcode()" (selectionChange)="onSelectionChange($event, 'deliveryAddress')" formControlName="deliveryAddress"></app-material-select-input>
          </div>
          <div class="item">
            <label for="lname">Updates via whatsapp</label>&nbsp;
            <app-material-checkbox (checkBoxChange)="onSelectionChange($event, 'updatesViaWhatsapp')" formControlName="updatesViaWhatsapp"></app-material-checkbox>
          </div>
          <div class="item">
            <label for="lname">Updates via e-mail</label>&nbsp;
            <app-material-checkbox (checkBoxChange)="onSelectionChange($event, 'updatesViaEmail')" formControlName="updatesViaEmail"></app-material-checkbox>
          </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>today</mat-icon>
          Items
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br/>
        <div id="parent" formArrayName="items" *ngFor="let item of items.controls; let i = index">
          <div [formGroupName] = 'i'>
            <div class="child">
              <app-material-select-input [label]="'Type'" [options]="types" formControlName="type"
                (selectionChange)="onItemsSelectionChange($event, 'type', i)"  [width]="120" [value]="types[0]">
              </app-material-select-input>
            </div>
            <div class="child" style="margin-left: 5%">
              <app-material-numeric-input
              [label]="'Price Per Unit (£)'" [width]="60" formControlName="pricePerUnit">
            </app-material-numeric-input >
          </div>
          <div class="child" style="margin-left: -2%">
            <app-material-numeric-input
              [label]="'Quantity'" [width]="40" (change)="updateItemTotalAmount(i)" formControlName="quantity">
            </app-material-numeric-input >
          </div>
          <div class="child" style="margin-left: -2%">
            <app-material-numeric-input
              [label]="'Amount(£)'" [width]="40" formControlName="amount">
            </app-material-numeric-input >
          </div>
          <div class="child" >
            <app-material-button [label]="'-'" [disabled]="isDeleteDisabled()" (click)="onDeleteItem(i)"></app-material-button>&nbsp;
          </div>
          <div class="child" >
            <app-material-button [label]="'+'" (click)="onAddItem(i)"></app-material-button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>today</mat-icon>
          Payment
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br/>
      <div id="parent">
        <div class="child">
          <app-material-numeric-input
            [label]="'Total (£)'" [width]="60" formControlName="totalAmount">
          </app-material-numeric-input >
        </div>
        <div class="child">
          <app-material-numeric-input
            [label]="'Paid (£)'" [width]="60" formControlName="amountPaid" (change)="updateOutstandingAmount()" >
          </app-material-numeric-input >
        </div>
        <div class="child">
          <app-material-numeric-input
            [label]="'Outstanding (£)'" [width]="60" formControlName="amountOutstanding">
          </app-material-numeric-input >
        </div>
      </div>
      <div class="columns">
        <div class="item">
          <app-material-select-input [label]="'Type'" [width]="40" [options]="paymentTypes" formControlName="paymentType"
            (selectionChange)="onSelectionChange($event, 'paymentType')" [value]="paymentTypes[0]">
          </app-material-select-input>
        </div>
        <div class="item">
          <app-material-select-input [label]="'Status'" [width]="40" [options]="paymentStatuses" formControlName="paymentStatus"
            (selectionChange)="onSelectionChange($event, 'paymentStatus')" [value]="paymentStatuses[0]">
          </app-material-select-input>
        </div>
        <div class="item">
          <app-material-input [label]="'Notes'" [icon]="'person_pin'"[width]="100" formControlName="paymentNotes"></app-material-input>
        </div>
      </div>
    </mat-expansion-panel>
    <div *ngIf="showWarning()" class="alert warning">
      <strong>Warning!</strong> Please fill in all required field with valid values.
    </div>
  </mat-accordion>
</div>
  </div>
