<section *ngIf="isVisible">
  <mat-sidenav-container class="container">
    <mat-sidenav #sidebar mode='side' closed >
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <span class="example-spacer"></span>
                    <span>Administration area</span>
                    <span class="example-spacer"></span>
                    <button mat-icon-button (click)="onViewProfile()" class="example-icon account_circle" aria-label="Example icon-button with heart icon">
                      <mat-icon>account_circle</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onLogout()" class="example-icon" aria-label="Example icon-button with share icon">
                      <mat-icon>exit_to_app</mat-icon>
                    </button>
                </mat-toolbar>
            </div>
            <div class="main">
              <router-outlet></router-outlet>
          </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>


<section *ngIf="!isVisible">
  <router-outlet></router-outlet>
</section>
