.mat-expansion-panel-header-title {
  font-weight: bold;
}
mat-expansion-panel {
  width: 95%;
}
::ng-deep .mat-expansion-panel-body {
  text-align: center;
}

mat-expansion-panel-header {
  justify-content: center !important;
}
