<h2 mat-dialog-title>ASSIGN DRIVER</h2>
<br>
<mat-dialog-content class="mat-typography">
  <form id="survey-form" [formGroup]="assignDriverForm" >
      <div class="item">
        <app-material-input [label]="'Assigned Driver'" [width]="80" formControlName="currentDriverUsername" ></app-material-input>
      </div>
      <div class="item">
        <app-material-select-input [label]="'Select Driver'" [width]="80" (selectionChange)="onSelectionChange($event, 'selectedDriverUsername')" formControlName="selectedDriverUsername" [options]="driversUsername">
        </app-material-select-input>
      </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSubmit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
