<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-jumbotron title="PROFILE" imgPath="../../../assets/administrator.jpeg"></app-jumbotron>
<br />
<app-notification-message [showText]="showErrorText2" [text]="errorText2" [color]="'#ff9800'"></app-notification-message>

<div [formGroup]="profileForm">
    <mat-accordion [multi]="true"
        ><mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> DETAILS </mat-panel-title> </mat-expansion-panel-header
            ><br />
            <div class="columns">
                <div class="item">
                    <app-material-input
                        [label]="'Name'"
                        [width]="80"
                        [errorMsg]="formValidationMap.name"
                        formControlName="name"
                        [pattern]="'[a-zA-Z ]*'"
                    ></app-material-input>
                </div>
                <div class="item">
                    <app-material-input
                        [label]="'Surname'"
                        [width]="80"
                        [errorMsg]="formValidationMap.lastName"
                        formControlName="lastName"
                        [pattern]="'[a-zA-Z ]*'"
                    ></app-material-input>
                </div>
                <div class="item">
                    <app-material-input
                        [label]="'Username'"
                        [width]="80"
                        formControlName="username"
                        [errorMsg]="formValidationMap.username"
                    ></app-material-input>
                </div>
                <div class="item">
                    <app-material-input
                        [label]="'Email'"
                        [width]="80"
                        formControlName="email"
                        [errorMsg]="formValidationMap.email"
                    ></app-material-input>
                </div>
                <div class="item" formGroupName="phoneGroup">
                    <app-material-select-input
                        [label]="'Code'"
                        [width]="15"
                        [options]="countryCodes"
                        formControlName="countryCode"
                        (selectionChange)="onSelectionChange($event, 'countryCode')"
                        [value]="countryCodes[0]"
                    ></app-material-select-input
                    >&nbsp;
                    <app-material-input
                        [width]="30"
                        [label]="'Number'"
                        formControlName="phone"
                        [errorMsg]="formValidationMap.phone"
                    ></app-material-input>
                </div>
                <div class="item">
                    <app-material-select-input
                        [label]="'Country'"
                        (selectionChange)="onSelectionChange($event, 'country')"
                        [options]="countries"
                        formControlName="country"
                    ></app-material-select-input>
                </div>
            </div>
            <div class="btn-block">
                <app-material-button [label]="'UPDATE'" [disabled]="isDisabled()" [width]="30" (click)="onUpdateDriver()"></app-material-button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<br />
<div [formGroup]="passwordMgmtForm">
    <mat-accordion [multi]="true"
        ><mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> PASSWORD MANAGEMENT </mat-panel-title> </mat-expansion-panel-header
            ><br />
            <div class="columns">
                <div class="item">
                    <app-material-button [label]="'Change Password'" [width]="30" (click)="onChangePassword()"></app-material-button><br />
                </div>
                <div class="item">
                    <app-material-button [label]="'Request reset password'" [width]="30" (click)="onResetPassword()"></app-material-button><br />
                </div>

                <div *ngIf="showChangedPasswordFields" class="item">
                    <app-material-input
                        [type]="'password'"
                        [width]="50"
                        [label]="'Old Password'"
                        [errorMsg]="formValidationMap.oldPassword"
                        formControlName="oldPassword"
                    ></app-material-input>
                </div>
                <div *ngIf="showChangedPasswordFields" class="item"></div>
                <div *ngIf="showChangedPasswordFields" class="item">
                    <app-material-input
                        [type]="'password'"
                        [width]="50"
                        [label]="'New Password'"
                        [errorMsg]="formValidationMap.newPassword"
                        formControlName="newPassword"
                    ></app-material-input>
                </div>
                <div *ngIf="showChangedPasswordFields" class="item">
                    <app-material-input
                        [type]="'password'"
                        [width]="50"
                        [label]="'Confirm Password'"
                        [errorMsg]="formValidationMap.confirmNewPassword"
                        formControlName="confirmNewPassword"
                    ></app-material-input>
                </div>
                <div *ngIf="showResetPasswordFields" class="item">
                    <app-material-input
                        [type]="'number'"
                        [width]="50"
                        [label]="'Verification Code'"
                        [errorMsg]="formValidationMap.verificationCode"
                        formControlName="verificationCode"
                    ></app-material-input>
                </div>
                <div *ngIf="showResetPasswordFields" class="item"></div>
                <div *ngIf="showResetPasswordFields" class="item">
                    <app-material-input
                        [type]="'password'"
                        [width]="50"
                        [label]="'New Password'"
                        [errorMsg]="formValidationMap.resetNewPassword"
                        formControlName="resetNewPassword"
                    ></app-material-input>
                </div>
                <div *ngIf="showResetPasswordFields" class="item">
                    <app-material-input
                        [type]="'password'"
                        [width]="50"
                        [label]="'Confirm New Password'"
                        [errorMsg]="formValidationMap.confirmResetNewPassword"
                        formControlName="confirmResetNewPassword"
                    ></app-material-input>
                </div>
            </div>
            <app-notification-message [showText]="showErrorText" [text]="errorText" [color]="'#ff9800'"></app-notification-message>
            <app-notification-message [showText]="showConfirmText" [text]="confirmText" [color]="'green'"></app-notification-message>
            <app-notification-message [showText]="showInfoText" [text]="infoText" [color]="'#2196F3'"></app-notification-message>
            <div class="btn-block">
                <app-material-button
                    *ngIf="showPasswordMgmtButton"
                    [label]="'SUBMIT'"
                    [disabled]="isSubmitDisabled()"
                    [width]="30"
                    (click)="onSubmit()"
                ></app-material-button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
