

app-material-button{
  /*Change the width as much as you like, but make sure
  margin-left and margin-right + width = 100%*/
  width:50%;
  margin-left:25%;
  margin-right:25%;
  margin-bottom: 10%;
}

form {
  width: 70% !important;
  border-radius: 6px !important;
  background: #fff!important;
  box-shadow: 0 0 8px #004e92 !important;
  }
  .center {
    width: 50%!important;
  }
