<div class="test">
  <app-section-title [title]="'Customers'"></app-section-title>
</div>
<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<a mat-fab (click)="addCustomer()" class="fab-main">
  <mat-icon class="mat-18">add</mat-icon>
</a>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef={{displayedColumns[0]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[0]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
  </ng-container>
    <!-- Position Column -->
  <ng-container matColumnDef={{displayedColumns[1]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[1]}}</th>
    <td mat-cell *matCellDef="let element"> {{getName(element)}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef={{displayedColumns[2]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="centre">{{displayedColumns[2]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef={{displayedColumns[3]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[3]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.postcode}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef={{displayedColumns[4]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[4]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef="ACTION">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="Accent" matTooltip="Create a booking for customer"  matTooltipPosition="left">
        <mat-icon (click)="bookCustomer(element.reference)">book</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Edit customer" matTooltipPosition="above">
        <mat-icon (click)="editCustomer(element.reference)">edit</mat-icon>
      </button>
      <!-- <button mat-icon-button color="warn" matTooltip="Delete customer" matTooltipPosition="right">
        <mat-icon (click)="deleteCustomer(element.reference)">delete</mat-icon>
      </button> -->
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="10" showFirstLastButtons></mat-paginator>

<!-- <app-customer-detail [customer]="selectedCustomer"></app-customer-detail> -->


<!-- https://www.angularjswiki.com/material/mat-table-filter/ -->
