.test {
  display: flex;
  justify-content: center;
}

app-material-button {
  display: flex;
  justify-content: center;
}

form {
  width: 70% !important;
  border-radius: 6px !important;
  background: #fff!important;
  box-shadow: 0 0 8px #004e92 !important;
  }
  .center {
    width: 50%!important;
  }
