<app-jumbotron title="Loaded Items" imgPath="../../../assets/shipment.jpg"></app-jumbotron>
<br>
<div [formGroup]="selectedShipmentForm">
  <mat-accordion [multi]="true">
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>local_shipping</mat-icon>CONTAINER</mat-panel-title>
        </mat-expansion-panel-header>
        <br/>
        <div id="parent">
          <div class="child">
            <mat-form-field appearance="outline" [style.width.%]="150">
              <mat-label>Container Number</mat-label>
              <mat-select #select formControlName="selectedShipment"
              (selectionChange)="onSelectionChange($event)">
                <mat-option *ngFor="let option of shipmentList" [value]="option">
                  {{option.containerNumber}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="child">
            <app-material-input [icon]="'person_pin'" [label]="'Loading Date'" [width]="100" formControlName="loadingDate"></app-material-input>
          </div>
        </div>
        <br>
      </mat-expansion-panel>
      </mat-accordion>
    </div>
    <br>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef={{displayedColumns[0]}}>
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef={{displayedColumns[1]}}>
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[1]}}</th>
    <td mat-cell *matCellDef="let element">{{element.senderFullName}} </td>
  </ng-container>
  <ng-container matColumnDef={{displayedColumns[2]}}>
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[2]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
  </ng-container>
  <ng-container matColumnDef={{displayedColumns[3]}}>
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[3]}}</th>
    <td mat-cell *matCellDef="let element"> {{getFormattedDate(element.pickUpDate)}} </td>
  </ng-container>
  <ng-container matColumnDef={{displayedColumns[4]}}>
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[4]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef={{displayedColumns[5]}}>
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[5]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <ng-container matColumnDef={{displayedColumns[6]}}>
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[6]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.value}}  </td>
  </ng-container>
  <ng-container matColumnDef={{displayedColumns[7]}}>
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[7]}}</th>
    <td mat-cell *matCellDef="let element">{{element.amount }} </td>
  </ng-container>
  <ng-container matColumnDef="ACTION">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="icon-color" matTooltip="view booking details"  matTooltipPosition="left">
        <mat-icon (click)="onViewBooking(element.bookingReference)">list_alt</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="10" showFirstLastButtons></mat-paginator>
<app-material-button [label]="'ASSIGN'" [width]="30"  [disabled]="isDisabled()" (click)="onAssign()"></app-material-button><br>

<br><br>

