<!-- <app-add-shipment></app-add-shipment> -->
<div class="test">
  <app-section-title [title]="'Shipments'"></app-section-title>
</div>
<a mat-fab (click)="onAddShipment()"  class="fab-main">
  <mat-icon class="mat-18">add</mat-icon>
</a>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef={{displayedColumns[0]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[0]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
  </ng-container>
    <!-- Position Column -->
  <ng-container matColumnDef={{displayedColumns[1]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[1]}}</th>
    <td mat-cell *matCellDef="let element"> {{getFormattedDate(element.loadingDate)}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef={{displayedColumns[2]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="centre">{{displayedColumns[2]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.containerNumber}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef={{displayedColumns[3]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[3]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.blVessel}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef={{displayedColumns[4]}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[4]}}</th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>
  <ng-container matColumnDef="ACTION">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="Accent" matTooltip="View/Assign Booking"  matTooltipPosition="left">
        <mat-icon (click)="onAssignBooking(element.reference)">list_alt</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Delete customer" matTooltipPosition="right">
        <mat-icon (click)="onDeleteShipment(element.reference)">delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="10" showFirstLastButtons></mat-paginator>
