<button mat-raised-button  id="toggle-linear">
</button>
<mat-stepper linear #stepper>
  <mat-step *ngIf="isViewOnlyMode()">
    <form >
      <ng-template matStepLabel>Fill out sender details</ng-template>
      <app-customer-detail [customer]="booking.customer" [mode]="mode"></app-customer-detail>
      <div align="end" >
        <button mat-button (click)="onForward(stepper, 'customerDetailComponent')"> Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="isViewOnlyMode()">
    <form >
      <ng-template matStepLabel>Fill out receiver details</ng-template>
      <app-bookings-receivers [references]="booking.receiverReferences" [destination]="booking.destination" [location]="booking.location"
      [senderReference]="getSenderRef()"></app-bookings-receivers >
      <div align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onForward(stepper, 'bookingReceiversComponent')">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="isViewOnlyMode()">
    <form >
      <ng-template matStepLabel>Fill out items details</ng-template>
      <app-booking-items [reference]="booking.reference" [paymentType]="booking.paymentType" [paymentStatus]="booking.paymentStatus"
      [paymentNotes]="booking.paymentNotes"></app-booking-items>
      <div align="end" >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onForward(stepper, 'bookingItemsComponent')"> Next </button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="isViewOnlyMode()">
    <form >
      <ng-template matStepLabel>Fill out pick up details</ng-template>
      <app-booking-info [pickUpDate]="booking.pickUpDate" [pickUpTime]="booking.pickUpTime" [pickUpPostCode]="booking.pickUpPostCode"
      [pickUpAddress]="booking.pickUpAddress"  [updatesViaWhatsapp]="booking.updatesViaWhatsapp"></app-booking-info>
      <div align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onForward(stepper, 'bookingInfoComponent')"> Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirm</ng-template>
    <p >Amazing we are now ready to create or update a booking, make sure all information submitted are correct, once you are happy with it
      just click on the create button and I'll take care of the rest.
    </p>
    <app-booking-review ></app-booking-review>
    <div align="center">
      <br>
      <app-material-button [label]="'SUBMIT'" [color]="'primary'" [backgroundColor]="'#069370'" [width]="30" (click)="onSubmit()"></app-material-button>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
