<button mat-raised-button  id="toggle-linear">
</button>
<mat-stepper linear (animationDone)="selectionChange(stepper)" #stepper>
  <mat-step >
    <form >
      <ng-template matStepLabel>Fill out sender details</ng-template>
      <app-customer-detail [customer]="booking.sender" [mode]="mode"></app-customer-detail>
      <!-- <app-receiver></app-receiver> -->
      <!-- <app-booking-info></app-booking-info> -->
      <div align="center" >
        <button mat-button (click)="goForward(stepper, 'customerDetailComponent')" >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form >
      <ng-template matStepLabel>Fill out item details</ng-template>
      <app-receiver></app-receiver>
      <!-- <app-material-button [label]="'Back'" [color]="'primary'" [backgroundColor]="'#004e92'" (click)="goBack(stepper)"></app-material-button>
      <app-material-button [label]="'Next'" [color]="'primary'" [backgroundColor]="'#004e92'" (click)="goForward(stepper)"></app-material-button> -->
      <div align="center" >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form >
      <ng-template matStepLabel>Fill out receiver details</ng-template>
      <app-booking-items></app-booking-items>
      <div align="center" >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form >
      <ng-template matStepLabel>Fill out pick up details</ng-template>
      <app-booking-info></app-booking-info>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
