<button mat-raised-button id="toggle-linear"></button>
<mat-stepper linear #stepper>
    <!-- <mat-step>
        <form>
            <ng-template matStepLabel>Fill out sender details</ng-template>
            <app-customer-detail [customer]="booking.customer" [mode]="mode"></app-customer-detail>
            <div align="end">
                <button mat-button (click)="onForward(stepper, 'customerDetailComponent')">Next</button>
            </div>
        </form>
    </mat-step> -->
    <!-- <mat-step>
        <form>
            <ng-template matStepLabel>Fill out pick up details</ng-template>
            <app-booking-info (getCustomerPostcode)="getCustomerPostcode()" [bookingInfo]="getBookingInfoData()"></app-booking-info>
            <div align="start">
                <button mat-button matStepperPrevious>Back</button>
            </div>
            <div align="end">
                <button mat-button (click)="onForward(stepper, 'bookingInfoComponent')">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Fill out receivers details</ng-template>
            <app-bookings-receivers
                [references]="booking.receiverReferences"
                [destination]="booking.destination"
                [location]="booking.location"
                [senderReference]="getSenderRef()"
            ></app-bookings-receivers>
            <div align="start">
                <button mat-button matStepperPrevious>Back</button>
            </div>
            <div align="end">
                <button mat-button (click)="onForward(stepper, 'bookingReceiversComponent')">Next</button>
            </div>
        </form>
    </mat-step> -->
    <mat-step>
        <form>
            <ng-template matStepLabel>Fill out items details</ng-template>
            <app-booking-items [paymentData]="getPaymentData()"></app-booking-items>
            <div align="start">
                <button mat-button matStepperPrevious>Back</button>
            </div>
            <div align="end">
                <button mat-button (click)="onForward(stepper, 'bookingItemsComponent')">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirm</ng-template>
        <p>
            Amazing we are now ready to create or update a booking, make sure all information submitted are correct, once you are happy with it just
            click on the create button and I'll take care of the rest.
        </p>
        <app-booking-review></app-booking-review>
        <div align="start">
            <button mat-button matStepperPrevious>Back</button>
        </div>
        <app-notification-message [showText]="showErrorText" [text]="errorText" [color]="'#ff9800'"></app-notification-message>
        <div class="submitButton">
            <app-material-button [label]="'CONFIRM BOOKING'" [width]="30" (click)="onSubmit()"></app-material-button><br />
            <app-material-button *ngIf="showReserveBooking()" [label]="'RESERVE BOOKING'" [width]="30" (click)="onSave()"></app-material-button>
        </div>
    </mat-step>
</mat-stepper>
