<div class="bodys">
<!-- https://w3layouts.com/airline-booking-form-responsive-widget-template/ -->
<div class="booking-form-w3layouts">
  <!-- Form starts here -->
  <form action="" method="post">
    <h2 class="sub-heading-agileits">Shipment Details</h2>
    <div class="main-flex-w3ls-sectns">
      <div class="field-agileinfo-spc form-w3-agile-text1">
        <select class="newEdition">
                  <option>From</option>
                  <option value="Lorem Ipsum">Lorem Ipsum</option>
                  <option value="Adipiscing">Adipiscing</option>
                  <option value="Lorem Ipsum">Lorem Ipsum</option>
                  <option value="Adipiscing">Adipiscing</option>
                  <option value="Lorem Ipsum">Lorem Ipsum</option>
                  <option value="Adipiscing">Adipiscing</option>
                </select>
      </div>
      <div class="field-agileinfo-spc form-w3-agile-text2">
        <select class="newEdition">
                  <option>To</option>
                  <option value="Lorem Ipsum">Lorem Ipsum</option>
                  <option value="Adipiscing">Adipiscing</option>
                  <option value="Lorem Ipsum">Lorem Ipsum</option>
                  <option value="Adipiscing">Adipiscing</option>
                  <option value="Lorem Ipsum">Lorem Ipsum</option>
                  <option value="Adipiscing">Adipiscing</option>
                </select>
      </div>
    </div>
    <div class="clear"></div>
    <div class="newEdition2">
      <!-- <input id="datepicker" type="date" placeholder="Departure Date"> -->
      <input placeholder="Departure Date" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="datepicker" />
    </div>


    <!-- <div class="triple-wthree">
      <div class="field-agileinfo-spc form-w3-agile-text11">
        <select class="form-control">
                      <option value="">Adult(12+ Yrs)</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5+</option>
                    </select>
      </div>
    </div> -->

    <div class="clear"></div>
    <div class="newEdition">
      <div class="field-agileinfo-spc form-w3-agile-text">
        <textarea name="Message" placeholder="Any Message..."></textarea>
      </div>
    </div>
    <div class="clear"></div>

    <!-- <div class="clear"></div>
    <div class="clear"></div> -->
    <h3 class="sub-heading-agileits">Customer Details</h3>
    <div class="main-flex-w3ls-sectns">
      <div class="field-agileinfo-spc form-w3-agile-text1">
        <input type="text" name="Name" placeholder="Full Name" required="">
      </div>
      <div class="field-agileinfo-spc form-w3-agile-text2">
        <input type="text" name="Phone no" placeholder="Phone Number" required="">
      </div>
    </div>
    <div class="field-agileinfo-spc form-w3-agile-text">
      <!-- <input type="email" name="Email" placeholder="Email" required=""> -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>


    <h3 class="sub-heading-agileits">Customer Details</h3>
    <div class="main-flex-w3ls-sectns">
      <div class="field-agileinfo-spc form-w3-agile-text1">
        <input type="text" name="Name" placeholder="Full Name" required="">
      </div>
      <div class="field-agileinfo-spc form-w3-agile-text2">
        <input type="text" name="Phone no" placeholder="Phone Number" required="">
      </div>
    </div>
    <div class="field-agileinfo-spc form-w3-agile-text">
      <input type="email" name="Email" placeholder="Email" required="">
    </div>

    <div class="clear"></div>
    <input type="submit" value="Clear" class="clearBtn">
    <input type="submit" value="Submit" class="submitBtn">
    <!-- <input type="reset" value="Clear Form"> -->
    <div class="clear"></div>
  </form>
  <!--// Form starts here -->
</div>
</div>

