table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  width: 10px;
}

th.details{
  width: 15%
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.mat-expansion-panel-header{
  background:  #004e92!important;
}

.mat-expansion-panel-header-title {
  color: white
}
