table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  width: 10px;
}

th.details{
  width: 15%
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}


.editButton {
  margin-left: 80px !important;
  margin-right: 80px !important;
  background-color:#069370 ;
  color: white;
}

.exportButton {
  background-color:#069370 ;
  color: white;

}

.generateInvoiceButton {
  background-color:#069370 ;
  color: white;

}
 /*  ------------------------------         */

 