  <!-- <mat-card class="example-card">

  <div class="bodys">
  <!-- https://w3layouts.com/airline-booking-form-responsive-widget-template/ -->
  <div class="booking-form-w3layouts">
    <!-- Form starts here -->
      <h4 class="sub-heading-agileits">New Customer</h4>
      <div class="main-flex-w3ls-sectns">
        <form id="form" >
          <app-material-select-input [label]="'Personal'"></app-material-select-input><br>
          <app-material-input [label]="'Sendder full name'" [icon]="'person_pin'"></app-material-input>
          <div class="divider"></div>
          <app-material-input [label]="'Phone'" [icon]="'person_pin'"></app-material-input>
          <div class="divider"></div>
          <app-material-input [label]="'Email'" [icon]="'person_pin'" [width]="39"></app-material-input><br>
          <app-material-input [label]="'Address'" [icon]="'person_pin'" [width]="60"></app-material-input>
          <div class="divider"></div>
          <app-material-input [label]="'Postcode'" [icon]="'person_pin'"[width]="30"></app-material-input>
          <!-- <app-material-input [label]="'Amount'" [icon]="'person_pin'"[width]="15"></app-material-input> -->
          <div class="divider"></div>
          <!-- <app-material-radio-button  [options]="['Paid','Not Paid']"></app-material-radio-button><br> -->
          <!-- <app-material-text-area-input [placeholder]="'Any comment'"></app-material-text-area-input> -->
        </form>
      </div>
      <div class="clear"></div>
      <app-material-button [label]="'Clear'" [color]="''" [backgroundColor]="" ></app-material-button>
      <div class="divider"></div>
      <!-- <app-material-button [label]="'Create Shipment'" [color]="'primary'" [backgroundColor]="'#069370'" ></app-material-button> <br> -->
    <!-- <app-add-shippment-confirmation></app-add-shippment-confirmation> -->

  </div>


  <!-- </mat-card> -->
