<div class="container">
  <h1 id="title">Items</h1>
  <p id="description">Please fill the items details.</p>
  <div class="row">
    <div class="col-75">
      <div class="container">
          <app-items-list [items]="itemsObjs" (updateItemsEvent)="updateTotalAmount()" ></app-items-list><br>
          <div>
            <mat-accordion [multi]="true">
              <mat-expansion-panel hideToggle [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>Payment</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div [formGroup]="paymentForm">
                    <br>
                    <legend>Payment Information Details</legend>
                    <div class="columns">
                      <div class="item">
                        <label for="lname">Type</label><br>
                        <app-material-select-input [width]="60" [options]="paymentTypes" formControlName="paymentType"
                          (selectionChange)="onSelectionChange($event, 'paymentType')" [value]="paymentTypes[0]">
                        </app-material-select-input>
                      </div>
                      <div class="item">
                        <label for="lname">Status</label><br>
                        <app-material-select-input [width]="60" [options]="paymentStatuses" formControlName="paymentStatus"
                          (selectionChange)="onSelectionChange($event, 'paymentStatus')" [value]="paymentStatuses[0]">
                        </app-material-select-input>
                      </div>
                      <div class="item">
                        <label for="lname">Amount Paid (£)</label><br>
                        <app-material-numeric-input
                          [width]="10" formControlName="amountPaid" (change)="updateOutstandingAmount()" >
                        </app-material-numeric-input >
                      </div>
                      <div class="item">
                        <label for="lname">Amount Outstanding (£) </label><br>
                        <app-material-numeric-input
                          [width]="10" formControlName="amountOutstanding">
                        </app-material-numeric-input >
                      </div>
                      <div class="item">
                        <label for="lname">Notes</label><br>
                        <app-material-input [icon]="'person_pin'"[width]="100" formControlName="paymentNotes"></app-material-input>
                      </div>
                    </div>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
