<!-- <div class="bodys">
  <div class="booking-form-w3layouts">
    <section >
      <h2 class="sub-heading-agileits">New Shipment</h2>
      <div class="main-flex-w3ls-sectns">
        <form id="form" >
          <app-material-numeric-input [label]="'Number of Items'" ></app-material-numeric-input>
          <div class="divider"></div>
          <app-material-text-area-input [placeholder]="'Item description'"></app-material-text-area-input>
          <div class="divider"></div>
          <app-material-button [label]="'-'" [color]="'primary'" [backgroundColor]="'#c43b00'" ></app-material-button>
          <div class="divider"></div>
          <app-material-button [label]="'+'"[color]="'primary'" [backgroundColor]="'#004e92'"></app-material-button><br>
          <mat-divider></mat-divider>
          <div class="divider"></div><br>
        </form>
      </div>
    </section>
</div> -->

<div class="bodys">
  <div class="booking-form-w3layouts">
      <h4 class="sub-heading-agileits">Items</h4>
      <div class="main-flex-w3ls-sectns">
        <form [formGroup]="bookingItemForm" >
          <app-material-numeric-input [label]="'Number of Items'" ></app-material-numeric-input>
          <div class="divider"></div>
          <app-material-select-input [label]="'Type'"  [width]="20" [options]="types" formControlName="types"
              (selectionChange)="onSelectionChange($event, 'phoneCountryCode')" [value]="types[0]"></app-material-select-input>
          <div class="divider"></div>
          <app-material-numeric-input [label]="'Number of Items'" ></app-material-numeric-input>
          <div class="divider"></div>
          <div class="alert-section">
          <app-alert></app-alert>
          </div>
          </form>
      </div>
    </div>
