<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen] = "true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<h2 mat-dialog-title>Update Order</h2>
<mat-dialog-content class="mat-typography">
  <form id="survey-form" [formGroup]="orderInfoForm" >
      <div class="item">
        <app-material-select-input [label]="'Status'" [options]="orderStatuses" formControlName="status"
            (selectionChange)="onSelectionChange($event, 'status')"  [width]="60" [value]="orderStatuses[0]">
        </app-material-select-input>
      </div>
  </form>
  <app-notification-message [showText]="showErrorText" [text]="errorText" [color]="'#ff9800'"></app-notification-message>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="onSubmit()" cdkFocusInitial>Update</button>
</mat-dialog-actions>
