<div class="mainContent">
  <!-- My Box Content -->
  <div class="boxContent">

    <br>
      <div class="firstRow">
          <div class="cardOne">
              <div class="description">
                  <p>Total invoices</p>
                  <h3>98765</h3>
              </div>
          </div>
          <div class="cardTwo">
              <div class="description">
                  <p>Total invoices</p>
                  <h3>98765</h3>
              </div>
          </div>
          <div class="cardThree">
              <div class="description">
                  <p>Total invoices</p>
                  <h3>98765</h3>
              </div>
          </div>
          <div class="cardFour">
              <div class="description">
                  <p>Total invoices</p>
                  <h3>98765</h3>
              </div>
          </div>
      </div>
      <div class="secondRow">
          <div class="cardChart">
            <div class="heading">
              TO DO / IN PROGRESS
            </div>
            <ul  *ngFor="let task of activeTasks">
              <li>
                <span><b>{{task.title}}</b></span><br>
                <span>Due date: {{getFormattedDate(task.actionDate)}}</span>
              </li>
            </ul>
          </div>
          <div class="cardChart">
            <div class="heading">
              APPROACHING
            </div>
            <ul  *ngFor="let task of approachingTasks">
              <li>
                <span><b>{{task.title}}</b></span><br>
                <span>Due date: {{getFormattedDate(task.actionDate)}}</span>
              </li>
            </ul>
          </div>
          <div class="cardChart">
            <ngx-charts-bar-vertical
            [view]="[1000,400]"
            [results]="itemQuantityReportData"
            [xAxisLabel]="'Items'"
            [legendTitle]="'Items quantity chart'"
            [yAxisLabel]="'Quantity'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true">
          </ngx-charts-bar-vertical>
          <div align="center">
            <br>
            <app-material-button [label]="'See More'" [width]="30" (click)="onSeeMoreReport()"></app-material-button>
          </div>
          </div>
      </div>
      <div class="thirdRow">
        <app-bookings-table [bookings]="bookings" [includeArchived]="includeArchive"></app-bookings-table>
      </div>
  </div>
</div>
