<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <nav class="main-nav">
    <img src="assets/login/logo.png" alt="" class="logo">

    <ul class="right-menu">
      <li>
        <a href="#">
          <i class="fas fa-search"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </nav>

  <header class="showcase"></header>

  <section class="home-cards">
    <div>
      <img src="assets/shipment.jpg" alt="">
      <h3>Shipments</h3>
      <p>
        All shipments details, history and cost analysis in one place.
      </p>
      <a href="/shipments">Manage <i class="fas fa-chevron-right"></i></a>
    </div>
    <div>
      <img src="assets/driver.jpeg" alt="">
      <h3>Bookings</h3>
      <p>
        Create, edit, delete and assign to driver bookings and their items
      </p>
      <a href="/bookings">Manage<i class="fas fa-chevron-right"></i></a>
    </div>
    <div>
      <img src="assets/customer.jpeg" alt="">
      <h3>Customers</h3>
      <p>
        Register new customers, create booking or edit exist customers
      </p>
      <a href="/customers">Manage <i class="fas fa-chevron-right"></i></a>
    </div>
    <div>
      <img src="assets/driver.jpeg" alt="">
      <h3>Drivers</h3>
      <p>
       Manage bookings assigned to drivers and their itinerary
      </p>
      <a href="/drivers">Manage <i class="fas fa-chevron-right"></i></a>
    </div>
  </section>


