
*{
  margin-right: 30px;
  box-sizing: border-box;

}

table{
  width: 100%;
  border-collapse: collapse;
}
td{
  padding: 5px 0 5px 15px;
  border: 1px solid antiquewhite
}
.tabletitle{
  padding: 5px;
  /* background: #EEE; */
}

.exportButton {
  background-color:#069370 ;
  color: white;
}

.mat-expansion-panel-header{
  background:  #6D8299!important;
}

.mat-expansion-panel-header-title {
  color: antiquewhite
}
