
*{
  margin-right: 30px;
  box-sizing: border-box;

}

table{
  width: 100%;
  border-collapse: collapse;
}
td{
  padding: 5px 0 5px 15px;
  /* border: 1px solid black */
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.tabletitle{
  padding: 5px;
  /* background: #EEE; */
}

.exportButton {
  background-color:#004e92 ;
  color: white;
}

.mat-expansion-panel-header{
  background:  #004e92!important;
  width: 100%;
}

.mat-expansion-panel-header-title {
  color: white
}
