
 <h2 mat-dialog-title>Availability</h2>
      <table>
        <tr>
          <th>Reference</th>
          <th>Sender</th>
          <th>Phone</th>
          <th>Postcode</th>
          <th>Address</th>
          <th>Time</th>
          <th>Type</th>
        </tr>
        <tr *ngFor="let activity of activities">
          <td>{{activity.reference}}</td>
          <td>{{getCustomerName(activity)}}</td>
          <td>{{getPhoneNumber(activity)}}</td>
          <td>{{getPostcode(activity)}}</td>
          <td>{{getAddress(activity)}}</td>
          <td>{{getTime(activity)}}</td>
          <td>{{activity.type}}</td>
        </tr>
      </table>
